%section#goal_section
  .frame
    .bit-5.left_container
      %h1
        My Goals

      = link_to "Create Goal", new_goal_path

      %ul.list_of_goals
        - @goals.each do |goal|
          %li
            .goal_block
              %h3
                = link_to goal.title, '#', :class => "goal_link", :data => {goal_id: goal.id}
              .goal_section_container{style: "display:none"}
    .right_container
      .bit-80
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quisquam quibusdam neque non ipsam illo nisi maiores! Illo, velit iusto quidem pariatur quisquam nisi officiis cumque consequuntur nam quod voluptatum!






