.bit-5
  %h2.goal_header{:data => {goal_id: goal.id}}
    Goal
  =goal.title
  =goal.description
.bit-5
  %h2
    Motivation
  %br/
  %h3
    Positive
  %br/
  %ul.goal_lists
    -goal.motivations.select{|i| i.positive}.each do |motivation|
      %li
        %strong
          =motivation.title
        %br/
        =motivation.description
      %br/
  %br/
  %h3
    Negative
  %br/
  %ul.goal_lists
    -goal.motivations.reject{|i| i.positive}.each do |motivation|
      %li
        %strong
          =motivation.title
        %br/
        =motivation.description
      %br/

.bit-5
  %h2
    Actions
  %ul.goal_lists
    -goal.actions.each do |action|
      %li
        =action.title
        =action.description
.bit-5
  %h2
    beliefs
  %ul.goal_lists
    -goal.beliefs.each do |belief|
      %li
        =belief.title
        =belief.description
