#goal_section {
  .left_container,
  .right_container {
    text-align: center;
  }

  .goal_lists {
    list-style-type: none;
  }

  .goal_block {
    background-color: #c3c3c3;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
  }

} // end goal_section
